@media (min-width: 1500px) {
    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 5rem;
    }

    .leagues {
        h2 {
            font-size: 3rem;
        }
    }

    .modal {
        h2 {
            font-size: 4rem;
        }
    }

}

@media (max-width: 1350px) {
    .wrapper {
        width: 60%;
    }

    ul {
        justify-content: center;
    }
}

@media (max-width: 1100px) {
    .wrapper {
        width: 75%;
    }

    ul li a {
        width: calc(65px + 10vw);
        height: calc(65px + 10vw);
    }
}

@media (max-width: 800px) {
    .wrapper {
        width: 90%;
    }

    .modal {
        width: 95%;
        left: 2.5%;

        table {
            width: 95%;
        }
    }

    .closeModal,
    .closeModal::before  {
        width: 30px;
        height: 5px;
    }
}

@media (max-width: 305px) {
    ul li a {
        width: calc(55px + 10vw);
        height: calc(55px + 10vw);
    }
}