.hidden {
  display: none;
}

.modal {
    position: absolute;
    top: 30px;
    left: 10%;

    width: 80%;
    padding-bottom: 40px;
    
    color: black;
    background-color: rgb(224, 161, 224);

    h2 {
        margin: 20px 0;
    }

    table {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        text-align: left;

        img {
            width: 30px;
            height: 30px;
        }
    }
}

.closeModal,
.closeModal::before {
    position: absolute;

    width: 40px;
    height: 10px;

    border-radius: 10px;
    background-color: black;

    transition: all 0.2s;
}

.closeModal {
    top: 5%;
    right: 5%;

    border: none;

    transform: rotate(45deg);
}

.closeModal::before {
    content: ' ';
    top: 0px;
    left: 0;

    transform: rotate(90deg);
}

.closeModal:hover,
.closeModal:focus,
.closeModal:hover::before,
.closeModal:focus::before {
    background-color: rgb(179, 37, 124);
}