.hidden {
  display: none;
}

.modal {
    position: absolute;
    top: 30px;
    left: 10%;

    width: 80%;
    padding-bottom: 40px;
    
    color: #000000;
    background-color: #e0a1e0;

    h2 {
        font-size: calc(2.5rem + 1vw);
        margin: 20px 0;
    }

    table {
        width: 80%;
        margin: 0 auto;
        padding: 0;

        border-collapse: collapse;
        text-align: left;

        td {
            border: 2px solid #39003d;
            vertical-align: middle;
        }

        td,
        .points,
        .lastFive {
            text-align: center;
        }

        img {
            width: 30px;
            height: 30px;
        }
    }
}

.closeModal,
.closeModal::before {
    position: absolute;

    width: 40px;
    height: 10px;

    border-radius: 10px;
    background-color: #000000;

    transition: all 0.2s;
}

.closeModal {
    top: 30px;
    right: 20px;

    border: none;

    transform: rotate(45deg);
}

.closeModal::before {
    content: ' ';
    top: 0;
    left: 0;

    transform: rotate(90deg);
}

.closeModal:hover,
.closeModal:focus,
.closeModal:hover::before,
.closeModal:focus::before {
    background-color: #b3257c;
}